@import url('normalize.css');

body
{
    background-color:powderblue;
}
#logo
{

    border-style:solid;
    border-width:2px;
    background-color:lightblue;
    z-index:+1;
    margin-top: 13px;
    margin-left: 30px;
    margin-right: 30px;
}
#menu li{
    list-style-type:none;
    font-family:'Times New Roman';
    display:inline;
    text-decoration:none;
    padding:5px;
}
#menu{
    width:996px;
    height:80px;
    background-color:rgba(255, 255, 255, .5);
    float:right;
    margin-right:10px;
}
#menu a{
    text-decoration:none;
}
#menu ul li a:link		{
    color:#FFFFFF;/*white*/
}
a:visited{
    color:purple;/*purple*/
}
a:hover{
    color:#
}
a:active{
    color:#
}
footer{
    background-color:lightblue;
    border-style:solid;
    border-width:2px;
    margin-bottom:13px;
    margin-top:13px;
}

#introduction{
    background-color:#FFFFFF;
    border-style:solid;
    border-width:2px;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    text-transform:uppercase;
}
h4{color:powderblue;
}
#about
{
    background-color:#FFFFFF;
    border-style:solid;
    border-width:2px;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;

}


/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

				



/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px)
 
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/