@import url('normalize.css');

body
{


    background-image:url(../images/background1.jpg);
    background-repeat: repeat;

}

#logo
{
    width:920px;
    background-color: #bcdae5;
    z-index:+1;
    margin-top: 13px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Mystery Quest', cursive;
}

#menu li{
    list-style-type:none;
    display:inline;
    text-decoration:none;
    padding:3px;
    font-family: 'Mystery Quest', cursive;
}

#menu{
    width:996px;
    height:80px;
    background-color:#bcdae5;
    float:right;
    margin-right:10px;
}

#menu a{
    text-decoration:none;
}

#menu ul li a:link		{
    color:#FFFFFF;/*white*/
}

a:visited{
    color:purple;
}

a:hover{
    color:cadetblue;
}

a:active{
    color:#9798ff;/*light blue*/
}

footer{
    font-family: 'Mystery Quest', cursive;
    background-color:lightblue;
    margin-bottom:13px;
    margin-top:13px;
    color:cadetblue;
    text-align:center;
}

#introduction{
    font-family: 'Mystery Quest', cursive;
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    text-transform:uppercase;
    text-align:center;
}

h4{
    font-family: 'Mystery Quest', cursive;
    color: #b0e0e6;
}

#about, p
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
}

#events, article
{
    width:867px;
    height:900px;
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}
#wedding{

width:400px;
    height:608px;
}


#special, article{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}

#testimonial{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}

#flavour, article
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}

#parlour, article
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}

#gallery
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;

}

#sign-up
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}

#warning
{
    color:red;
}

form
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}

#search, article
{

    list-style-type:none;
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:powderblue;
    font-family: 'Mystery Quest', cursive;
}
#news{
    font-family: 'Mystery Quest', cursive;
}


/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

				



/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px)
 
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/