@import url('normalize.css');

body
{


    background-image:url(../images/background1.jpg);
    background-repeat: repeat;

}

#logo
{
    /*width:924px;*/
    background-color: #3ad1ff;
    z-index:+1;
    margin-top: 13px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Mystery Quest', cursive;
    border-radius: 10px;
    height:8.85%;/*177px;/*177/2000*.0155844155844*.0885*/
    weight:62.720156555773%;/*641/1022*=.62720156555773*/
}

/*#banner{
    height:.0885%;/*177px;/*177/2000*.0155844155844*.0885*/
    /*641/1022*=.62720156555773*/



#menu li{
    list-style-type:none;
    display:inline;
    text-decoration:none;
    padding:3px;
    font-family: 'Mystery Quest', cursive;
}

#menu{
    width:924px;/*924px*100%*/
    height:100%;/*80px*/
    background-color:#3ad1ff;
    float:right;
    margin-left: 30px;
    border-radius: 10px;
}

#menu a{
    text-decoration:none;
}

#menu ul li a:link		{
    color:#FFFFFF;/*white*/
}

a:visited{
    color:purple;
}

a:hover{
    color:cadetblue;
}

a:active{
    color:#9798ff;/*light blue*/
}


#introduction{
    font-family: 'Mystery Quest', cursive;
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    text-transform:uppercase;
    text-align:center;
    width:924px;
    border-radius: 10px;
    font-size:1em;
}

#introduction, p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:1em;
}



h3{
    font-family: 'Mystery Quest', cursive;
    color: #3ad1ff;
    font-size:1em;
}
/*index page height:1872px; width:1022px;*/
#index{
    width:954px;
    border-radius: 10px;
}

#specials{
    background-color:#FFFFFF;
    width:924px;
    border-radius: 10px;
}

#about
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    overflow:hidden;
    width:924px;
    border-radius: 10px;
}
#portrait{padding-top:15px;
    padding-bottom:15px;
}

/*events page height:1022px; width:1995px;*/
#events, article
{

    overflow:hidden;
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    width:924px;
    border-radius: 10px;
}

#wedding{
    padding-top:16px;
width:400px;/*400/937*/
    height:606px;/*606/665*/
}


#special, article{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    width:924px;

}

#special, article, li{
    list-style-type:none;
}



#testimonial{

    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    width:924px;
    border-radius: 10px;

}

#flavour, article
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    overflow:hidden;
    width:924px;
    border-radius: 10px;
}

#parlour, article
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    border-radius: 10px;
    width:894px;
}

#gallery
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    padding-top:16px;
    padding-right:16px;
    padding-bottom: 16px;
    padding-left:16px;
    width:894px;
    border-radius: 10px;


}

#baked-alaska{
    width:670px;/*670/894=.77181208053691*/
    height:400px;/*400/*/
}

h1{font-family: 'Mystery Quest', cursive;}

#sign-up
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    padding-top:16px;
    padding-right:16px;
    padding-bottom: 16px;
    padding-left:16px;
    width:894px;
    border-radius: 10px;
    }



#log-in
{
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    padding-top:16px;
    padding-right:16px;
    padding-bottom: 16px;
    padding-left:16px;
    width:894px;
    border-radius: 10px;
}


#search
{

    list-style-type:none;
    background-color:#FFFFFF;
    margin-left:30px;

    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    font-family: 'Mystery Quest', cursive;
    width:924px;
    border-radius: 10px;
}

#news{
    font-family: 'Mystery Quest', cursive;
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    overflow:hidden;
    padding-top:16px;
    padding-left: 16px;
    width:908px;
    border-radius: 10px;
}

#contact{
    overflow:hidden;
    text-align:center;
    width:924px;
    background-color:#FFFFFF;
    margin-left:30px;
    margin-right:30px;
    margin-top:13px;
    margin-bottom:13px;
    color:#3ad1ff;
    overflow:hidden;
    padding-top:16px;
    font-family: 'Mystery Quest', cursive;
    border-radius: 10px;
}


footer{
    font-family: 'Mystery Quest', cursive;
    background-color:#3ad1ff;
    margin-bottom:13px;
    margin-top:13px;
    color:#104a58;
    text-align:center;
    height:80px;/*100%*/
    overflow:hidden;
    margin-left:19px;
    border-radius: 10px;
}

/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

				



/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px)
 
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/